<h1>All Flights</h1>

<%= form_with model: @flight , method: :get do |f| %>
  <%= f.select(:departure_code, @airports) %>
  <%= f.select(:arrival_code, @airports) %>
  <%= f.label :start, "Departure Date" %>
  <%= date_select("flight", "start") %>
  <%= submit_tag "Search Flights" %>
<% end %>
